<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.evasilyev.flutter.file_share">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider_paths" />
        </provider>
    </application>
</manifest>
